

.addItemContainer{
    margin-top: 50px;
    border: 2px solid gray;
    padding: 15px;
    border-radius: 10px;
}
.addItemContainer:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
}

